.imagem-carrossel {
    height: 400px;
    object-fit: cover;
}

.imagem-carrossel-um {
    object-position: 0 85%;
}

.font-titulo {
    font-family: 'Pacifico', cursive;
}

.cor-especial {
    color: darkred!important;
}

.card-wid {
 max-width: 18rem;
}

.card-imagem {
    object-fit: cover;
    height: 200px;
}

.btn-cor {
    background-color: darkred;
    color: #fff;
    border: none;
}

.btn-border {
    border: 1px solid darkred;
}